body{
    font-family: 'Vesper Libre', serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_pcI1tIKqbU8HKuSJCtw7cweAZNVTyDR1h7ZNWi2C_VJQXGBx");
    height:800px;
}
h1{
    display:flex;
    justify-content: center;
}
.navBars{
    height:45px;
}
/* class for cards in portfolio file */
.spaceEvenly{
   
    border-color: slategray;
    border-width: 5px;
    padding:20px 30px;
    
}

/* class for card in index */
.center{
    display: flex;
    justify-content: center;
   
}

.contactCard {
   
}

